.section-image {  
  /* Set a specific height and width */
  height: 350px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  object-position: center;
  object-fit: cover;
  position: relative;

  border-radius: 10px;
}